body {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  color-scheme: light dark;

  font-synthesis: none;
}

* {
  box-sizing: border-box;
}
