[data-vxe-ui-theme='light'],
[data-vxe-ui-theme='dark'] {
  // base
  --vxe-font-family: var(--n-font-family);
  --vxe-font-size: var(--n-font-size);
  --vxe-font-size-medium: var(--n-font-size-medium);
  --vxe-font-size-small: var(--n-font-size-small);
  --vxe-font-size-mini: var(--n-font-size-mini);
  --vxe-border-radius: var(--n-border-radius);

  // color
  --vxe-font-color: var(--n-text-color-2);
  --vxe-font-lighten-color: var(--n-text-color-3);
  --vxe-font-darken-color: var(--n-text-color-1);
  --vxe-font-disabled-color: var(--n-text-color-disabled);
  --vxe-primary-color: var(--n-primary-color);
  --vxe-primary-lighten-color: var(--n-primary-color-hover);
  --vxe-primary-darken-color: var(--n-primary-color-pressed);
  --vxe-success-color: var(--n-success-color);
  --vxe-success-lighten-color: var(--n-success-color-hover);
  --vxe-success-darken-color: var(--n-success-color-pressed);
  --vxe-warning-color: var(--n-warning-color);
  --vxe-warning-lighten-color: var(--n-warning-color-hover);
  --vxe-warning-darken-color: var(--n-warning-color-pressed);
  --vxe-danger-color: var(--n-error-color);
  --vxe-danger-lighten-color: var(--n-error-color-hover);
  --vxe-danger-darken-color: var(--n-error-color-pressed);
  --vxe-info-color: var(--n-primary-color);
  --vxe-info-lighten-color: var(--n-primary-color-hover);
  --vxe-info-darken-color: var(--n-primary-color-pressed);
  --vxe-ui-table-border-color: var(--n-border-color);

  // ui
  --vxe-ui-font-color: var(--n-text-color-2);
  --vxe-ui-font-darken-color: var(--n-text-color-1);
  --vxe-ui-font-lighten-color: var(--n-text-color-3);
  --vxe-ui-font-tinge-color: var(--n-text-color-disabled);
  --vxe-ui-font-disabled-color: var(--n-text-color-disabled);
  --vxe-ui-font-primary-color: var(--n-primary-color);
  --vxe-ui-font-primary-lighten-color: var(--n-primary-color-hover);
  --vxe-ui-font-primary-darken-color: var(--n-primary-color-pressed);

  // table
  --vxe-table-border-radius: var(--n-border-radius);
  --vxe-table-border-color: var(--n-border-color);
  --vxe-table-resizable-line-color: var(--n-border-color);
  --vxe-table-resizable-drag-line-color: var(--n-primary-color-hover);
  --vxe-table-header-background-color: var(--n-table-header-color);
  --vxe-table-body-background-color: var(--n-table-color);
  --vxe-table-footer-background-color: var(--n-table-header-color);
  --vxe-table-header-font-color: var(--n-text-color-1);
  --vxe-table-footer-font-color: var(--n-text-color-1);
  --vxe-table-row-hover-background-color: var(--n-table-color-hover);
  --vxe-table-row-striped-background-color: var(--n-table-color-striped);
  --vxe-table-row-checkbox-checked-background-color: var(--n-table-color-striped);
  --vxe-table-row-radio-checked-background-color: var(--n-table-color-striped);
  --vxe-table-row-hover-checkbox-checked-background-color: var(--n-table-color-striped);
  --vxe-table-row-hover-radio-checked-background-color: var(--n-table-color-striped);
}

[class*='vxe-'] {
  transition-timing-function: var(--n-cubic-bezier-ease-in-out);
  transition-duration: 250ms;
  transition-property: background-color;
}
