# Dirs
node_modules/
dist/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# IDEA
.idea/*
!.idea/jsLinters/eslint.xml
!.idea/stylesheetLinters/stylelint.xml
!.idea/inspectionProfiles/Project_Default.xml

# Cache
.eslintcache
.stylelintcache

# env
.env.local
